
.theme-admonition {
  --admonition-surface-color: var(--color-alfa-dark-12);
  --admonition-title-color: var(--color-text-primary);
  --admonition-icon-data: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M12.0008%202L14.4729%204.39155L17.8787%203.90983L18.4729%207.29772L21.5114%208.90983L20.0008%2012L21.5114%2015.0902L18.4729%2016.7023L17.8787%2020.0902L14.4729%2019.6085L12.0008%2022L9.52866%2019.6085L6.12295%2020.0902L5.52866%2016.7023L2.49023%2015.0902L4.0008%2012L2.49023%208.90983L5.52866%207.29772L6.12295%203.90983L9.52866%204.39155L12.0008%202ZM13.5424%2010.3812L11.9998%207L10.4572%2010.3812L6.7998%2010.8197L9.50381%2013.3478L8.78603%2017L11.9998%2015.1812L15.2136%2017L14.4958%2013.3478L17.1998%2010.8197L13.5424%2010.3812Z%22%20fill%3D%22%23DFDFDF%22%2F%3E%3C%2Fsvg%3E');

  border-radius: 0;
  border: 1px solid var(--color-border-note);
  padding: 16px;
  background-color: var(--admonition-surface-color);
  margin: 24px 0;

  > div:first-child {
    color: var(--admonition-title-color);
    font-size: var(--font-size-450);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-line-height-700);
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    text-transform: capitalize;

    span {
      margin: 0;
      height: 24px;
      width: 24px;
      color: var(--admonition-title-color);
      background-size: 24px;
      background-repeat: no-repeat;
      background-image: var(--admonition-icon-data);

      svg {
        display: none;
      }
    }

    + div {
      margin: 0;
    }
  }

  p {
    margin: 0;
    color: var(--color-text-primary);
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-line-height-600);

    + p {
      margin-top: 16px;
    }
  }

  &.alert--success {
    //green
    border: 1px solid var(--color-border-success);
    --admonition-surface-color: var(--color-surface-note-success);
    --admonition-title-color: var(--color-text-success);
    --admonition-icon-data: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M22%2012C22%2017.5228%2017.5228%2022%2012%2022C6.47715%2022%202%2017.5228%202%2012C2%206.47715%206.47715%202%2012%202C17.5228%202%2022%206.47715%2022%2012ZM11%2014V6H13V14H11ZM11%2016V18H13V16H11Z%22%20fill%3D%22%2332A100%22%2F%3E%3C%2Fsvg%3E');
  }

  &.alert--info {
    //blue
    border: 1px solid var(--color-border-info);
    --admonition-surface-color: var(--color-surface-note-info);
    --admonition-title-color: var(--color-text-info);
    --admonition-icon-data: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M22%2012C22%2017.5228%2017.5228%2022%2012%2022C6.47715%2022%202%2017.5228%202%2012C2%206.47715%206.47715%202%2012%202C17.5228%202%2022%206.47715%2022%2012ZM11%206V8H13V6H11ZM11%2018V10H13V18H11Z%22%20fill%3D%22%232690E7%22%2F%3E%3C%2Fsvg%3E');
  }

  &.alert--warning {
    //orange
    border: 1px solid var(--color-border-warning);
    --admonition-surface-color: var(--color-surface-note-warning);
    --admonition-title-color: var(--color-text-warning);
    --admonition-icon-data: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M22%2012C22%2017.5228%2017.5228%2022%2012%2022C6.47715%2022%202%2017.5228%202%2012C2%206.47715%206.47715%202%2012%202C17.5228%202%2022%206.47715%2022%2012ZM11%2014V6H13V14H11ZM11%2016V18H13V16H11Z%22%20fill%3D%22%23E07400%22%2F%3E%3C%2Fsvg%3E');
  }

  &.alert--danger {
    //red
    border: 1px solid var(--color-border-critical);
    --admonition-surface-color: var(--color-surface-note-critical);
    --admonition-title-color: var(--color-text-critical);
    --admonition-icon-data: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M22%2012C22%2017.5228%2017.5228%2022%2012%2022C6.47715%2022%202%2017.5228%202%2012C2%206.47715%206.47715%202%2012%202C17.5228%202%2022%206.47715%2022%2012ZM11%2014V6H13V14H11ZM11%2016V18H13V16H11Z%22%20fill%3D%22%23FE3737%22%2F%3E%3C%2Fsvg%3E');
  }
}
