.framework-comparison-section {
  padding: var(--space-800) var(--space-500);

  @media (max-width: 600px) {
    padding: var(--space-800) 0;
  }

  .btn-secondary {
    margin: auto;
    display: block;
    width: fit-content;
  }

  h3 {
    text-align: center;
    font-size: var(--font-size-1100);
    line-height: var(--font-line-height-1300);
    margin-bottom: var(--space-200);
    padding: 0 var(--space-500);

    @media (max-width: 600px) {
      font-size: var(--font-size-800);
      line-height: var(--font-line-height-1000);
    }

    + p {
      padding: 0 var(--space-500);
      color: var(--color-text-primary);
      text-align: center;
      font-size: var(--font-size-450);
      line-height: var(--font-line-height-700, 28px);
      margin: 0;

      @media (max-width: 600px) {
        padding-bottom: var(--space-600);
      }
    }
  }
}
