
html[data-theme="dark"]{


  div[class^="codeBlockLines"] {
    span.token.string {
      color: #2a9292 !important;
    }

    span.token.punctuation, span.token.property {
      color: #9b9b9b !important;
    }

    span.token.boolean, span.token.number {
      color: #aa573c !important;
    }
  }


  .DocSearch.DocSearch-Container {
    .DocSearch-Modal {
      background-color: var(--color-300);
      .DocSearch-Form {
        border: 2px solid var(--color-800);

        .DocSearch-MagnifierLabel, .DocSearch-Reset {
          color: white;
        }

        .DocSearch-Input {
          &::placeholder {
            color: var(--color-600);
          }
        }
      }

      .DocSearch-Prefill {
        color: var(--color-primary);
      }

      .DocSearch-HitsFooter a {
        color: white;

        &:hover {
          color: var(--color-primary);
        }
      }

      .DocSearch-Dropdown-Container {

        .DocSearch-Hits {

          .DocSearch-Hit-source {
            background-color: transparent;
            color: white;
          }

          .DocSearch-Hit a {
            background: var(--color-200);

            &:hover {
              background: var(--color-100);

              mark {
                color: var(--color-primary) !important;

              }

              .DocSearch-Hit-path {
                color: var(--color-700) !important;
              }
            }

            .DocSearch-Hit-path {
              color: var(--color-700) !important;
            }

            mark, .DocSearch-Hit[aria-selected=true] mark {
              color: var(--color-primary) !important;
              text-decoration: none !important;
            }
          }

        }
      }
    }

    .DocSearch-Screen-Icon svg {
      color: white;
    }

    .DocSearch-Footer {
      border-radius: 0;
      background-color: var(--color-200);
      box-shadow: unset;
    }

    .DocSearch-Help, .DocSearch-Label {
      color: var(--color-txt);
    }

    .DocSearch-Commands-Key {
      background: #292929;
      box-shadow: inset 0 -2px 0 0 #505050, inset 0 0 1px 1px #393939, 0 2px 2px 0 rgb(3 4 9 / 30%);
      color: #fff;
    }
  }

}
