
html[data-theme="dark"]{


  div[class^="codeBlockLines"] {
    span.token.string {
      color: #2a9292 !important;
    }

    span.token.punctuation, span.token.property {
      color: #9b9b9b !important;
    }

    span.token.boolean, span.token.number {
      color: #aa573c !important;
    }
  }

}
