:root, .loading, .deprecated, .coming-soon {
  --live-game-data-status-color: #3F494B;
}

.green {
  --live-game-data-status-color: #3bb447;
}

.yellow {
  --live-game-data-status-color: #b2b43b;
}

.red {
  --live-game-data-status-color: #b43b3b;
}